extends layout

block content
    div.headercontainer
        div.header
            h1.red= "0"
            div.mid
                h1= "Rumble"
                p.url= "lokamc.com"
            h1.blue= "0"
    div.redplayers
    div.blueplayers
    div.points
        p(class="lower point")= "lower"
        br
        p(class="middle point")= "middle"
        br
        p(class="hidden point")= "hidden"
    div.announce
        img.announceavatar(src="./images/steve.png")
        div.announcetext
            p.announcemessage= "First Blood"
            br
            p.announceplayer.redgradient= "Cryptite"

    div.redstats
        p.redname= "Red Team"
        table
            thead
                tr
                    th= ""
                    th= "Name"
                    th= "Score"
                    th= "KDR"
                    th= "CPG"
            tbody.redstatsbody
                tr
                    th= "Cryptite"
                    th= "1"
                    th= "1"
                    th= "2"
    div.bluestats
        p.bluename= "Blue Team"
        table
            thead
                tr
                    th= ""
                    th= "Name"
                    th= "Score"
                    th= "KDR"
                    th= "CPG"
            tbody.bluestatsbody
                tr
                    th= "Cryptite"
                    th= "3"
                    th= "1"
                    th= "2"

    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    script(src="./js/main.js")
    script(src="./js/velocity.min.js")