extends layout

block content
    div.container
        h1.red= data[0].bluescore
        h1.blue= data[0].redscore
        div.redplayers
            each item in data
                each score, player in item.redtopplayers
                    div.player
                        p.playername= player
                        br
                        img.avatar(src="./images/#{player}.png")
                        br
                        p.kdr= score
        div.blueplayers
            each item in data
                each score, player in item.bluetopplayers
                    div.player
                        p.playername= player
                        br
                        img.avatar(src="./images/#{player}.png")
                        br
                        p.kdr= score
    div.points
        p(class="point point-#{data[0].point_lower}")= "lower"
        br
        p(class="point point-#{data[0].point_middle}")= "middle"
        br
        p(class="point point-#{data[0].point_hidden}")= "hidden"