extends layout

block content
    div.redstats
        p.redname= "Red Team"
        table
            thead
                tr
                    th= ""
                    th= "Name"
                    th= "Score"
                    th= "KDR"
                    th= "CPG"
            tbody.redstatsbody
                tr
                    th= "Cryptite"
                    th= "1"
                    th= "1"
                    th= "2"
    div.bluestats
        p.bluename= "Blue Team"
        table
            thead
                tr
                    th= ""
                    th= "Name"
                    th= "Score"
                    th= "KDR"
                    th= "CPG"
            tbody.bluestatsbody
                tr
                    th= "Cryptite"
                    th= "3"
                    th= "1"
                    th= "2"

    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    script(src="./js/intro.js")
    script(src="./js/velocity.min.js")